@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.aatab {
  position: fixed;
  bottom: 0px;
  display: block;
}
/*
个人中心与分享基本样式
*/
.aui-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px;
  position: relative;
}

.aui-flex-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
  font-size: 14px;
  color: #333;
}
.aui-flex-one {
  padding: 0.5rem 1rem 0 0.5rem;
}

.aui-flex-one .aui-flex-box {
  background: #e8f0ff;
  text-align: center;
  padding: 1rem 0;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.aui-flex-one .aui-flex-box h3 {
  font-size: 0.88rem;
  font-weight: 500;
  position: relative;
}

.aui-flex-one .aui-flex-box span {
  font-size: 0.7rem;
  color: #9ea0a5;
}

.aui-flex-one .aui-flex-box h3 i {
  background: #ff6858;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
  right: 1.8rem;
  top: 0.2rem;
}